body{
    font-family: Arial;
    margin: 20px; 
}

button{
    margin: 5px;
    padding: 8px 14px ;
    cursor: pointer;
}

.section{
    display: block;
    margin-top: 20px;
}

input{
    margin: 5px 0;
    padding: 6px;
    width: 250px;
}